<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dulieu</title>
	
		<link rel="stylesheet" type="text/css" href="static/dulieu.css">
</head>

<body background="static/nenphanmemNCKH1.jpg">
	<form action = "http://localhost:5000/dulieutho" method = "post">
	<div id="dulieutho">
		<p> <h1 align="center">Dữ liệu thô</h1></p>
	<p><h2 align="center">Dữ liệu thu thập là hình ảnh từ 20 sinh viên lớp D18HT02, các ảnh được chụp tại các thời điểm khác nhau, biểu cảm khuôn mặt, góc độ ánh sáng.</h2></p>
	 <img src="static/dulieutho.jpg" class="anh"/>
	</div>
	<nav>
	<h3 align="center"><a href="/trangchu" style="text-decoration: none">Trang chủ</a></h3>
	</nav>
	</form>
</body>
</html>
