<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>NCKH</title>
<link rel="stylesheet" type="text/css" href="static/NCKH.css">
</head>

<body background="static/nenphanmemNCKH1.jpg">
	<form action = "http://localhost:5000" method = "post">
	<header>
	<div id="logo">
		<img src="static/LogoTDMU.png" width="150px">
	</div>
	<div id="gt">
	<h2 align="center">
		ĐẠI HỌC THỦ DẦU MỘT
	</h2>
	<h3 align="center">
		KHOA KỸ THUẬT CÔNG NGHỆ
	</h3>
	</div>
	</header>
	<section>
<hr size="5px" align="center" color="red" />
	<div id="ten">
	<h1 align="center">HỆ THỐNG ĐIỂM DANH BẰNG KHUÔN MẶT</h1>
	<p>
		<h3 align="center">Nhóm sinh viên: <br/>
			Nguyễn Nhĩ Khang - 1824801040068, <br/>
		Nguyễn Thị Thanh Trúc - 1824801040071, <br/>
		Nguyễn Luân Lưu - 1824801040120, <br/>
		Nguyễn Đức Duy – 1824801040126. <br/> <br/>
		GVHD: TS. Bùi Thanh Hùng
		</h3>
	</p>
	</div>
	</section>
<nav>
	<div id="link">

	<ul class="centerUL">
		<li><a href ="/dulieutho" >Dữ Liệu</a></li>
		<li><a href ="/diemdanh" >Điểm danh</a> </li>
		<li><a href ="/phantich" >Kết quả và phân tích</a> </li>
	</ul>	

	</div>
</nav>
	</form>
</body>
</html>
